.banner {
  /* font-family: 'Poppins', sans-serif; */
  width: 100%;
  height: 12%;
  /* background: linear-gradient(to right, #809fff, #FFFFFF);  color: black; */
  /* background: white; */
  /* background: linear-gradient(rgb(47, 110, 214), rgb(62, 182, 232)); */
  background: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner-text {
  font-family: "Cedarville Cursive", cursive;
  background: linear-gradient(to top, rgb(39, 107, 215), rgb(75, 192, 242));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text color transparent, showing the gradient */
  z-index: 2;
}