.rechart-container {
  background-image: url('../../../public/assets/clouds1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.days-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Align items at the top */
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px; /* Adjust based on your design preference */
}

.background {
  position: relative;
  min-height: 100vh; /* Full viewport height */
  width: 100%; /* Full viewport width */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  color: white;
  padding-top: 10rem!important;
}

/* .background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 30, 69, 0.7); 
  z-index: -2;
} */
