.App {
  text-align: center;
  height: auto!important;
  overflow: hidden!important;
}


.main-content {
  padding-top: 165px; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background-container {
  position: relative;
  min-height: 100vh; 
  background-image: url(''); 
  background-size: cover;
  background-position: center;
  background-attachment: scroll; 
}