.background-color {
  background-color: rgb(26, 30, 69);
  height: 100vh;
  position: relative;
  z-index: -1;
}

/* Image Section Styles */
.background-image-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  background-image: url('../../../public/assets/lanscape3.jpg'); 
  background-size: cover; 
  background-position: center; 
  position: relative; 
  z-index: -1;
  top: -14rem;
}


/* HomePage.css */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  position: relative;
  /* background: linear-gradient(to right, #8e2de2, #864df9); */
  background: transparent;
  padding: 20px;
  margin-top: 10rem!important;
  border-radius: 15px;
  color: white;
}

/* Optional: Gradient border for containers to closely match the navbar */
.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  position: relative;
  /* background: linear-gradient(to right, #8e2de2, #864df9); */
  background: transparent;
  border-radius: 15px;
  color: white;
}

.green-text {
  color: #4CAF50; /* Green color for text */

}
